<%= csrf.form_tag %>
<div class="form-group">
  <label class="col-sm-3 control-label" for="name">Nombre</label>
  <div class="col-sm-5">
    <input class="form-control" id="name" name="category[name]" required="<%= true %>" type="text" value="<%= category.name %>"></input>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-3 control-label" for="source_name">Nombre Archivo</label>
  <div class="col-sm-5">
    <input class="form-control" id="source_name" name="category[source_name]" required="<%= true %>" type="text" value="<%= category.source_name %>"></input>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="pull-right">
      <a class="btn btn-primary" href="/categories">Volver</a>
      <button class="btn btn-success" type="submit">Guardar</button>
    </div>
  </div>
</div>